<%- include("partials/header", { bot, user, path, title: "Settings" }) %>
<%- include("partials/head", { bot, user, path, title: "Settings" }) %>

<% if (alert) { %>
  <p><%= alert %></p><br>
<% } %>

<style>
  body {
    background: #5D5D5D;
    color: #eeeeee;
    font-family: Arial;
    font-size: 16px;
  }
</style>

<form style="margin-top: 1em;" method="POST">
  <style>
    h1 {
      text-align: center;
      text-shadow: 2px 2px 5px #393e46;
    }
    input {
      color: #393e46;
    }
  </style>
  <h1><%= guild.name %></h1>
  <p>Prefix:</p>
  <li style="float:center"></li><input type="text" name="prefix" value="<%= settings.prefix %>"><br><br>
  <button type="submit">Enregistrer les modifications</button>
  <P>Log channel :</P>
  <li style="float:center"></li><input type="text" name="logChannel" value="<%= settings.logChannel %>"><br><br>
  <button type="submit">Enregistrer les modifications</button>
  <p>Welcome message: </p>
  <li style="float:center"></li><input type="text" name="welcomeMessage" value="<%= settings.welcomeMessage %>"><br><br>
  <button type="submit">Enregistrer les modifications</button>
  <p>Welcome channel: </p>
  <li style="float:center"></li><input type="text" name="welcomeChannel" value="<%= settings.welcomeChannel %>"><br><br>
  <button type="submit">Enregistrer les modifications</button>
</form>

<%- include("partials/footer") %>